---
layout: default
---

<section id="hero" class="module-hero module-parallax module-overlay-dark-5 js-fullheight" data-background="{{ "/assets/images/home.JPEG" }}">
  <div class="hero-caption">
    <div class="hero-text">
      <h1 class="home-hero-title m-t-70">Hi there!</h1>
			<p class="home-lead m-t-40 m-b-60">
        I'm happy you found your way here. <br>
        This site is a place for me to share my thoughts and projects related to <br>
        coding and data engineering, along with some of my other passions like <br>
        cooking, camping, kayaking, and biking.
      </p>
      <h1 class="icon icon-Mouse"></h1>
    </div>
  </div>
</section>

{% include about.html %}

{% include resume.html %}

<section id="counters" class="module module-overlay-dark-5" data-background="{{ "/assets/images/blog.jpg" }}" style="background-image: url(&quot;{{ "/assets/images/blog.jpg" }}&quot;);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="counter-content text-center">
          <div class="counter-icon">
            <span class="icon">
							<i class="fa fa-tint fa-2x"></i>
						</span>
          </div>
					<h2><i class="fa fa-quote-left"></i> You are not a drop in the ocean.<br>You are the entire ocean in a drop. <i class="fa fa-quote-right"></i></h2>
				</div>
			</div>
		</div>
	</div>
</section>

{% include steps.html %}

{% include companies.html %}
