<section id="profile" class="module module-w p-b-0">
  <div class="container">
    <!-- title -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        <h2 class="module-title">About</h2>
      </div>
    </div>
    <div class="row">
      <!-- text -->
      <div class="col-md-6">
        <div class="m-t-90 m-t-sm-0">
          <h5 id="hello-im-jose-perez-prol">Hello, I’m {{ site.title }}</h5>
          <p>{{ site.description }}</p>

          {% include values.html %}

          {% include interest.html %}

          <ul class="list-unstyled">
            <li><abbr title="Phone">P:</abbr> {{ site.phone }}</li>
            <li>E-mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </div>
      </div>
      <!-- photo -->
      <div class="col-md-6">
        <div class="hidden-sm hidden-xs">
          <img src="/assets/images/about.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
