<section id="clients" class="module module-g">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 wow fadeInUp animated"
				style="visibility: visible; animation-name: fadeInUp;">
				<h2 class="module-title">Tools & Services I Frequently Use</h2>
			</div>
		</div>

		<div class="row wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
			<!-- company logo -->
			<div class="col-sm-3 col-xs-6 client-item">
				<a href="https://aws.amazon.com/" target="_blank">
					<img src="{{ " /assets/images/companies/aws-logo.png" }}" alt="#">
				</a>
			</div>
			<div class="col-sm-3 col-xs-6 client-item">
				<a href="https://github.com/" target="_blank">
					<img src="{{ " /assets/images/companies/github.png" }}" alt="#">
				</a>
			</div>
			<div class="col-sm-3 col-xs-6 client-item">
				<a href="https://www.heroku.com/" target="_blank">
					<img src="{{ " /assets/images/companies/heroku-logo.png" }}" alt="#">
				</a>
			</div>
			<div class="col-sm-3 col-xs-6 client-item">
				<a href="https://dnsimple.com/" target="_blank">
					<img src="{{ " /assets/images/companies/dnsimple.png" }}" alt="#">
				</a>
			</div>
			<div class="col-sm-3 col-xs-6 client-item">
				<a href="https://www.mandrill.com/" target="_blank">
					<img src="{{ " /assets/images/companies/mandrill.png" }}" alt="#">
				</a>
			</div>
			<div class="col-sm-3 col-xs-6 client-item">
				<a href="https://www.google.com/analytics/" target="_blank">
					<img src="{{ " /assets/images/companies/google-analytics-logo.png" }}" alt="#">
				</a>
			</div>
			<div class="col-sm-3 col-xs-6 client-item">
				<a href="https://codeship.com/" target="_blank">
					<img src="{{ " /assets/images/companies/codeship.png" }}" alt="#">
				</a>
			</div>
			<div class="col-sm-3 col-xs-6 client-item">
				<a href="https://www.digitalocean.com/" target="_blank">
					<img src="{{ " /assets/images/companies/digital-ocean.png" }}" alt="#">
				</a>
			</div>
		</div>
	</div>
</section>