<h6 id="interest">Interest:</h6>

<div class="profile-icon">
  <div class="row">
    <div class="col-sm-2">
      <span class="icon icon-Espresso"></span>
    </div>
    <div class="col-sm-2">
      <span class="icon icon-DSLRCamera"></span>
    </div>
    <div class="col-sm-2">
      <span class="icon icon-MusicNote"></span>
    </div>
    <div class="col-sm-2">
      <span class="icon icon-Soccer"></span>
    </div>
    <div class="col-sm-2">
      <span class="icon icon-Bicycle"></span>
    </div>
  </div>
</div>
