<section id="resume" class="module module-g">
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<div class="profile wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
					<div class="profile-icon">
						<span class="icon icon-Tie"></span>
					</div>
					<h3 class="profile-title">Experience</h3>
					<hr class="divider divider-gross m-b-30">
					{% for item in site.data.experience %}
						<div class="profile-content">
							<h6>{{item.title}}</h6>
							<p>{{item.company}}</p>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-sm-4">
				<div class="profile wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
					<div class="profile-icon">
						<span class="icon icon-CompassTool"></span>
					</div>
					<h3 class="profile-title">Tools</h3>
					<hr class="divider divider-gross m-b-30">

					{% for item in site.data.tools %}
						<div class="profile-content">
							<h6>{{item.name}}</h6>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-sm-4">
				<div class="profile">
					<div class="profile-icon">
						<span class="icon icon-Medal"></span>
					</div>
					<h3 class="profile-title">Skills</h3>
					<hr class="divider divider-gross m-b-30">

					{% for item in site.data.skills %}
						<h6 class="progress-title">{{item.name}}</h6>
						<div class="progress">
							<div class="progress-bar progress-bar-def" aria-valuenow="{{item.width}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{item.style}}>
								<span><span class="progress-value">{{item.width}}</span>%</span>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>

		</div>
	</div>
</section>