<section id="resume" class="module module-g">
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<div class="profile wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
					<div class="profile-icon">
						<span class="icon icon-Tie"></span>
					</div>
					<h3 class="profile-title">Experience</h3>
					<hr class="divider divider-gross m-b-30">

					<div class="profile-content">
						<h6>Webmaster & Sysadmin</h6>
						<p>@ Vertilux Ltd.</p>
					</div>
					<div class="profile-content">
						<h6>Co Founder/Developer</h6>
						<p>@ FavumStudio</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="profile wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
					<div class="profile-icon">
						<span class="icon icon-CompassTool"></span>
					</div>
					<h3 class="profile-title">Tools</h3>
					<hr class="divider divider-gross m-b-30">

					<div class="profile-content">
						<h6>MacBook Air 13" + Mac Mini 2012</h6>
					</div>
					<div class="profile-content">
						<h6>2 Dell S2440 Displays</h6>
					</div>
					<div class="profile-content">
						<h6>HP Proliant Server DL360 G5</h6>
					</div>
					<div class="profile-content">
						<h6>MacVim, iTerm, Atom, Docker</h6>
					</div>
					<div class="profile-content">
						<h6>OSX, Debian/Ubuntu</h6>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="profile">
					<div class="profile-icon">
						<span class="icon icon-Medal"></span>
					</div>
					<h3 class="profile-title">Skills</h3>
					<hr class="divider divider-gross m-b-30">

					<h6 class="progress-title">SQL</h6>
					<div class="progress">
						<div class="progress-bar progress-bar-def" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
							<span><span class="progress-value">70</span>%</span>
						</div>
					</div>

					<h6 class="progress-title">Ruby on Rails</h6>
					<div class="progress">
						<div class="progress-bar progress-bar-def" aria-valuenow="95" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
							<span><span class="progress-value">95</span>%</span>
						</div>
					</div>

					<h6 class="progress-title">Git</h6>
					<div class="progress">
						<div class="progress-bar progress-bar-def" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
							<span><span class="progress-value">85</span>%</span>
						</div>
					</div>

					<h6 class="progress-title">UNIX/Linux</h6>
					<div class="progress">
						<div class="progress-bar progress-bar-def" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
							<span><span class="progress-value">90</span>%</span>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
