<section class="module module-w">
			<div class="container">

				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
						<h2 class="module-title">My Process in Four Simple Steps</h2>
					</div>
				</div>

				<div class="row">

					<div class="col-sm-3">
						<div class="iconbox point-img wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
							<div class="iconbox-icon">
								<span class="icon icon-Bulb"></span>
							</div>
							<h6 class="iconbox-title">Idea</h6>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="iconbox point-img wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
							<div class="iconbox-icon">
								<span class="icon icon-Book"></span>
							</div>
							<h6 class="iconbox-title">Research/Learn</h6>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="iconbox point-img wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
							<div class="iconbox-icon">
								<span class="icon icon-Keyboard"></span>
							</div>
							<h6 class="iconbox-title">Develop</h6>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="iconbox wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
							<div class="iconbox-icon">
								<span class="icon icon-Starship2"></span>
							</div>
							<h6 class="iconbox-title">Deploy</h6>
						</div>
					</div>

				</div>

				<div class="row m-t-70">
					<div class="col-sm-8 col-sm-offset-2 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
						<h3 class="module-subtitle">
							George Bernard Shaw once said: “If you have an apple and I have an apple and we exchange these apples then you and I will still each have one apple.
							But if you have an idea and I have an idea and we exchange these ideas, then each of us will have two ideas.”<br>
 							So, if you have an idea and want to share... </h3>

							<div class="text-center m-t-70">
								<a href="/contact" class="btn btn-round btn-def btn-lg" style="visibility: visible; animation-name: tada;">Contact me</a>
							</div>
					</div>
				</div>

			</div>
		</section>
