---
layout: default
---

<h1>Category: {{ page.title | capitalize }}</h1>

{% assign category_name = page.title | downcase %}

{% if site.categories[category_name] %}
  <p>Found {{ site.categories[category_name].size }} posts in this category:</p>

  <ul>
    {% for post in site.categories[category_name] %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span>{{ post.date | date: "%B %d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts found in category "{{ category_name }}"</p>
{% endif %}
