---
layout: default
---

{% for image in site.static_files %}
  {% if image.extname == ".jpg" and image.path contains page.slug %}
    {% if image.path contains 'background' %}
      <section id="hero" class="module-hero module-parallax module-overlay-dark-1" data-background="{{ site.baseurl }}{{ image.path }}"></section>
    {% endif %}
  {% endif %}
{% endfor %}

<section class="module module-w">
  <div class="container">

    <div class="row m-b-70">
      <div class="col-sm-8 col-sm-offset-2">
        {{ content }}
      </div>
    </div>

    {% for image in site.static_files %}
      {% if image.extname == ".jpg" and image.path contains page.slug %}
        {% unless image.path contains 'background' or image.path contains 'thumbnail' %}
          <div class="row m-b-70">
            <div class="col-sm-8 col-sm-offset-2">
              <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            </div>
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
</section>
